/************************* Colors*/
:root {
	--green: #eafcf0;
	--honey: #FECEAB;
	--peach: #FF847C;
	--redberry: #E84A5F;
	--white: #eef2f3;
	--black: #212c2f;
    --lime: #cedd55;
    --olive: #687339;

}

.infobox {
	padding: 2rem;
	margin-top: 9rem;
	margin-left: 3rem;
}

/************* Materialize css for fixed footer*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  /******** Social Media Icons in footer */

  .socialicons {
    margin-right: 1rem;
  }

  .socialicons i {
  color: var(--honey);
  }

  img{
    max-width: 30rem;
    max-height: 30rem;
  }