{% extends "base.html" %}
{% block content %}
<main>
  <!-----------Title -->
<h3 class="center-align">Add Category</h3>
<!-----------Form for adding a Category to the Database -->
<div class="container">
<div class="row card-panel center-align">
    <form class="col s12 center-align" method="POST" action="{{ url_for('add_category') }}"> 
      <div class="row">
        <div class="input-field col s12">
          <input id="category_name" name="category_name" minlength="3" maxlength="40"
           type="text" class="validate" required> <!-----Mininmum and maximum length for input text-->
          <label for="category_name">Category Name</label>
        </div>
      </div>
      </div>
       <div class="row">
        <div class="col s12 center-align">
            <button type="submit" class="btn-large text-shadow green darken-4w"> <!--- Submit Category to Database-->
              <i class="fas fa-plus-square"></i> Add New Category
            </button>
        </div>
    </form>
  </div>
</div>
</div>


</main>
{% endblock %}