{% extends "base.html" %}
{% block content %}

<main>
  <!--Parallax hero image with informative container-->
  <div class="parallax-container">
    <div class="parallax"><img src="../static/images/kitchen.jpeg" 
      alt="hero image of kitchen table"></div>
    <div class="row">
      <div class="col l6 offset-l3 s12">
        <div class="card-panel greengradient infobox">
          <p class="black-text"> A Student's Cookbook is a collaborative cookbook
             where students can add their favorite and, preferably, quite cheap recipes. To be able to
             add a recipe you have to create an account and be logged in.
          </p>
        </div>
      </div>
</div>
</div>
</div>
</main>   

{% endblock %}