{% extends "base.html" %}
{% block content %}
<main>
    <h3 class="center-align">Recipes</h2>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <i class="fas fa-search"></i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix"></label>
            </div>
          </div>
        </form>
      </div>

      </div>
          
        <div class="row">
            <div class="col s12 m7">
              <div class="card">
                <div class="card-image">
                  <img src="images/sample-1.jpg">
                  <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
          </div>
                 
    {% for recipe in recipes %}
        {{ recipe.recipy_name }}<br>
        {{ recipe.category_name }}<br>
        {{ recipe.cooking_time }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.preparation }}<br>
        {{ recipe.pricing }}<br>
    {% endfor %}
</main>
{% endblock %}