{% extends "base.html" %}
{% block content %}
<main>
    <h3 class="center-align">Recipes</h2>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <i class="fas fa-search"></i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix"></label>
            </div>
          </div>
        </form>
      </div>
      </div>
      
        <div class="row">
          {% for recipe in recipes %}
            <div class="col s12 m7">
              <div class="card">
                <div class="card-image">
                  <img src="images/sample-1.jpg">
                </div>
                <div class="card-content">
                  <h4 class="card-title">{{ recipe.recipy_name }}</h4>
                  <p><i class="fas fa-folder"></i> Category: {{ recipe.category_name }}</p><br>
                  <p><i class="far fa-clock"></i> Cooking time: {{ recipe.cooking_time }}</p><br>
                  <p><i class="fas fa-carrot"></i> Ingredients: {{ recipe.ingredients }}</p><br>
                  <p><i class="fas fa-coins"></i> Estimated pricing: {{ recipe.pricing }}</p><br>
                  <ul class="collapsible">
                    <li>
                      <div class="collapsible-header">Preparation</div>
                      <div class="collapsible-body"><span>{{ recipe.preparation }}</span></div>
                    </li>
                  </div>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
              {% endfor %} 
            </div>    
          </div>
          
                   
</main>
{% endblock %}