{% extends "base.html" %}
{% block content %}
<main>
<h3 class="center-align">{{ recipe.recipe_name }}</h2>
<div class="container">
    <div class="row">
    <div class="col s3 z-depth-3">
        <div class="card-content">
            <p><i class="fas fa-folder"></i> Category: {{ recipe.category_name }}</p><br>
            <p><i class="far fa-clock"></i> Cooking time: {{ recipe.cooking_time }}</p><br>
            <p><i class="fas fa-carrot"></i> Ingredients: {{ recipe.ingredients }}</p><br>
            <p><i class="fas fa-coins"></i> Estimated pricing: {{ recipe.pricing }}</p><br>
            <p>Added by: {{ recipe.created_by }}</p>
        </div>
    </div>
    <div class="col s6 z-depth-3 offset-s1">
        <div class="card-content">
            <h5>Recipe Preparation</h5>
       <p> {{ recipe.preparation }}</p><br>
    </div>
    </div>
</div>
</div>
</main>
{% endblock %}